.center{
    text-align: center;
    color: darkslategray

    
}

/*não é classe é uma estrutra*/
body{
    background-color: beige;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 400px;
    height: 400px;
}
.p-10{
    width: 3vw;
    

}